@font-face {
    font-family: 'Caprice';
    src: url('fonts/Caprice.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gramophone';
    src: url('fonts/Gramophone.otf');
    font-weight: normal;
    font-style: normal;
}

.betania-patmos-regular {
    font-family: "Betania Patmos", cursive;
    font-weight: 400;
    font-style: normal;
}

.ff-speak-web {
    font-family: "ff-speak-web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    cursor: url("photos/retro.png"), auto;
    scrollbar-color: #484D6D80 #FAFAF7;
    scrollbar-width: thin;
}

::selection {
    background-color: #D9BBF980;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAFAF7;
    border-left: 3vw solid #7C9885;
    border-right: 3vw solid #7C9885;
    border-image: url('photos/bb.jpeg') 50 repeat;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #484D6D;
    font-family: 'ff-speak-web';
    font-weight: bold;
    font-size: clamp(1rem, 1vw + .5rem, 1.2rem);
}

nav a:hover {
    text-decoration: 1.25px wavy underline #D9BBF9;
    text-underline-offset: 6px;
    cursor: url("photos/retro2.png"), auto;
}

#contact {
    color: #7C9885;
}

/*#contact:hover {
    text-decoration: 1px wavy underline #484D6D;
}*/

nav h1 a {
    text-decoration: none;
    color: #7C9885;
    font-family: 'Gramophone';
    font-weight: lighter;
    font-size: clamp(2.5rem, 2.5vw + 1rem, 5rem);
    line-height: 0.5px;
}

nav h1 a:hover {
    text-decoration: none;
    color: #A6B9AB;
    cursor: url("photos/retro2.png"), auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav h1 {
    padding-top: 10px;
    text-align: left;
}

nav {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100px;
}

#active a {
    text-decoration: 1.25px wavy underline #D9BBF9;
    text-underline-offset: 6px;
}

main {
    margin-top: 20px;
    display: grid;
    width: 80%;
    border-radius: 20px;
    background-color: #EFE9F4CC;
    box-shadow: inset 2px 2px 8px 0px #484D6D80;
    padding: 40px 20px 40px 20px;
    height: 600px;
    overflow-y: auto;
    scrollbar-color: #A6B9AB #FAFAF7;
}

main a img {
    max-width: 100%;
    height: auto;
    transition: filter 0.5s ease;
    border-radius: 20px;
    box-shadow: 2px 2px 8px 0px #484D6D80;
}

main a img:hover {
    filter: brightness(70%);
    cursor: url("photos/retro2.png"), auto;
}

#thumbnails {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: minmax(100px, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
}

figcaption {
    text-align: left;
    color: #484D6D;
    font-family: 'ff-speak-web';
    font-weight: bold;
    font-size: clamp(1rem, 1vw + .5rem, 1.2rem);
    padding: 10px 0 10px 0;
}

figcaption span {
    font-style: italic;
    color: #484D6D;
    border: 0.5px solid #484D6D;
    background-color: #D9BBF980;
    border-radius: 20px;
    padding: 1px 8px 1px 8px;
    font-size: .8rem;
    font-weight: lighter;
    line-height: 30px;
}

mark {
    color: #484D6D;
    background-color: #D9BBF980;
    display: inline-block;
    line-height: 0em;
    padding: 0 0.25em 0.5em 0.25em;
    border-radius: 0.2em;
}

footer {
    width: 100%;
    margin-top: 30px;
}

footer p {
    color: #484D6D;
    font-family: "ff-speak-web";
    font-weight: bold;
}

@media (max-width: 830px) {
    main {
        padding: 10px 0 10px 0;
    }
}

@media (max-width: 700px) {
    nav {
        flex-direction: column;
        justify-content: center;
    }

    nav ul {
        /*gap: 1.5rem;*/
        padding: 0 0 0 0;
    }

    nav h1 {
        line-height: 0;
        padding-top:20px;
    }
    main {
        margin-top: 30px;
    }
    footer {
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    figcaption {
        padding: 10px 0 0 0;
    }
}

@media (max-width: 550px) {
    #thumbnails {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 450px) {
    nav ul {
        gap: 1rem;
    }
}

@media (max-width: 400px) {
    /*nav ul {
        padding: 0 0 0 80px;
    }
    #contact {
        visibility: hidden;
    }*/
    body {
        border: none;
    }
}

@media (max-width: 390px) {
    main {
        width: 295px;
    }
}


